*{margin: 0; padding: 0; box-sizing: border-box;}
input[type="range"]{
    -webkit-appearance: none;
    height: 5px;
    padding: 0;
    background-color: white;
    border-bottom: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
}
input[type='range']::-ms-fill-lower{
    background: white;
}
input[type='range']::-ms-fill-upper{
    background: white;
}
input[type='range']::-moz-range-track{
    border: none;
    background: white;
}
input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none !important;
    background: radial-gradient(orange, red);
    height: 15px;
    width: 15px;
    border-radius: 100%;
    cursor: pointer;
}
input[type='range']::-ms-thumb{
    -webkit-appearance: none !important;
    background: radial-gradient(orange, red);
    height: 15px;
    width: 15px;
    border-radius: 100%;
    cursor: pointer;
}
input[type='range']::-moz-range-thumb{
    -webkit-appearance: none !important;
    background: radial-gradient(orange, red);
    height: 15px;
    width: 15px;
    border-radius: 100%;
    cursor: pointer;
}
/* #volume{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#volumeSlider{
     writing-mode: bt-lr; vertical writing mode for modern browser
    -webkit-appearance: slider-vertical; 
    appearance: slider-vertical;
    height: 100%;
    width: 4px;
    transform: rotate(270deg);
} */
